<div *ngIf="step1" class="w-75 mx-auto rounded bg-main-light p-4 shadow  my-5">
  <h5 class="text-light-emphasis">Forgot Your Password... ?</h5>
  <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()"  >
    <label class="m-2" for="email">Your email:</label>
    <input formControlName="email" type="email" class="form-control" id="email"/>
    <button class="btn bg-main text-white mt-3">Next</button>
    <p *ngIf="Msg" class="alert alert-danger mb-0 mt-3">{{Msg}}</p>
  </form>
</div>


<div *ngIf="step2" class="w-75 mx-auto rounded bg-main-light p-4 shadow  my-5">
  <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()" >
    <label class="m-2" for="resetCode">Reset Code:</label>
    <input formControlName="resetCode" type="text" class="form-control" id="resetCode"/>
    <button class="btn bg-main text-white mt-3">Reset Code</button>
    <p *ngIf="Msg" class="alert alert-danger mb-0 mt-3">{{Msg}}</p>

  </form>
</div>


<div *ngIf="step3" class="w-75 mx-auto rounded bg-main-light p-4 shadow  my-5">
  <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
    <label class="m-2" for="newPassword">Reset Password</label>
    <input formControlName="newPassword" type="password" class="form-control" id="newPassword"/>
    <button class="btn bg-main text-white mt-3">Reset Password</button>
    <p *ngIf="Msg" class="alert alert-danger mb-0 mt-3">{{Msg}}</p>

  </form>
</div>
