<div *ngIf="isLoading" class="loadingScreen position-fixed top-0 bottom-0 start-0 end-0 bg-black d-flex justify-content-center align-items-center">
  <span class="loader"></span>
</div>
<div class="row gy-3 mt-3">


  <div *ngFor="let CategoryItem of categoryList" class="col-md-3">
    <div  class="product p-3 cursor-pointer">
      <img src="{{CategoryItem.image}}" class="w-100" alt="">
      <h3 class="h6 py-2 text-center">{{CategoryItem.name}}</h3>
      <button class="btn bg-main text-white w-100 ">+Add</button>


    </div>


  </div>
</div>
